.packages
pubspec.lock
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
example/android/local.properties
example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
example/build/ios/Runner.build/Release-iphoneos/Runner.build/dgph
example/ios/Podfile
example/ios/Flutter/flutter_export_environment.sh
example/ios/Flutter/Generated.xcconfig
example/ios/Runner/GeneratedPluginRegistrant.h
example/ios/Runner/GeneratedPluginRegistrant.m
